.index-present {
    margin-bottom: 90px;
}
.present-list {
    grid-template-columns: repeat(2,1fr);
    display: grid;
    margin-top: 60px;
}
.present-item {
    overflow: hidden;
    position: relative;
    &:hover {
        .present-item__img {
            -webkit-transform: scale(1.1);
        }
    }
}
.present-item__img {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: block;
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        background-color: #000000ad;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .7;
    }
}
.present-item__info {
    position: absolute;
    z-index: 2;
    top: 90px;
    width: 100%;
    padding: 0 60px;
    h3 {
        font-size: 34px;
        color: #FFFFFF;
        position: relative;
        z-index: 8;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        color: #E8E8E8;
        line-height: 28px;
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
    }
    a {
        color: #d3d70e;
        font-weight: 600;
        border-radius: 28px;
        font-size: 17px;
        -webkit-transition: all 0.3s 0s ease;
        -moz-transition: all 0.3s 0s ease;
        -o-transition: all 0.3s 0s ease;
        transition: all 0.3s 0s ease;
        border: 1px solid #d3d70e;
        padding: 10px 30px;
        &:hover {
            background: #d3d70ebd;
            color: #fff;
            border: 1px solid #d3d70ebd;
        }
    }
}